@{
    Layout = null;
    }
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi" xml:lang="vi">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @* dua len web thi chay lai duong dan tren *@
<base href="./" />

<title>CÔNG TY TNHH MÁY VÀ SẢN PHẨM THÉP VIỆT</title>
@*<meta name="description" content="VIETSTEEL là chuyên gia đứng đầu tại Việt Nam thiết kế, chế tạo, lắp đặt tất cả các dòng máy cán tôn, máy uốn tôn, máy xả băng, máy cắt tôn theo chiều dài,..."/>
<link rel="canonical" href="https://vietson.com.vn/" />
<meta name="keywords" content=""/>*@
<meta name="author" content="CÔNG TY TNHH MÁY VÀ SẢN PHẨM THÉP VIỆT" />
<meta content="CÔNG TY TNHH MÁY VÀ SẢN PHẨM THÉP VIỆT" name="generator" />
<meta content="index,follow" name="googlebot" />
<meta name="copyright" content="Copyright Â© 2018 CÔNG TY TNHH MÁY VÀ SẢN PHẨM THÉP VIỆT" />
<meta name="robots" content="INDEX,FOLLOW"/>
<meta name="geo.placename" content="291 Hoàng Sa - Tân Định - Quận 1 - TPHCM" />
<meta name="geo.region" content="VN - HCM" />
<meta name="geo.position" content="10.819206,106.633778" />
<meta name="ICBM" content="10.819206,106.633778" />
<meta name="DC.title" lang="vi" content="VIETSTEEL là chuyên gia đứng đầu tại Việt Nam thiết kế, chế tạo, lắp đặt tất cả các dòng máy cán tôn, máy uốn tôn, máy xả băng, máy cắt tôn theo chiều dài,..." />
<meta name="DC.creator" content="Phan Thanh Hy" />
<meta name="DCTERMS.issued" scheme="DCTERMS.W3CDTF" content="Sat, 11 Jul 2020 13:36:00 +0700" />
<meta name="DC.identifier" scheme="DCTERMS.URI" content="" />
<link rel="DCTERMS.replaces" hreflang="vi" href="" />
<meta name="DCTERMS.abstract" content="VIETSTEEL là chuyên gia đứng đầu tại Việt Nam thiết kế, chế tạo, lắp đặt tất cả các dòng máy cán tôn, máy uốn tôn, máy xả băng, máy cắt tôn theo chiều dài,..." />
<meta name="DC.format" scheme="DCTERMS.IMT" content="text/html" />
<meta name="DC.type" scheme="DCTERMS.DCMIType" content="Text" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="CÔNG TY TNHH MÁY VÀ SẢN PHẨM THÉP VIỆT" />
<meta property="og:description" content="VIETSTEEL là chuyên gia đứng đầu tại Việt Nam thiết kế, chế tạo, lắp đặt tất cả các dòng máy cán tôn, máy uốn tôn, máy xả băng, máy cắt tôn theo chiều dài,..." />
<meta property="og:type" content="article" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta name="twitter:card" content="summary" />

<meta name="twitter:title" content="CÔNG TY TNHH MÁY VÀ SẢN PHẨM THÉP VIỆT">
<meta name="twitter:description" content="VIETSTEEL là chuyên gia đứng đầu tại Việt Nam thiết kế, chế tạo, lắp đặt tất cả các dòng máy cán tôn, máy uốn tôn, máy xả băng, máy cắt tôn theo chiều dài,...">
<meta name="twitter:image" content="">
@*<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="~/Ases/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Ases/styles/owl-carousel.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Ases/styles/jquery.fancybox.min.css">
<link href="~/Ases/styles/magiczoomplus.css" rel="stylesheet" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="~/Ases/styles/slick.css"/>
<link rel="stylesheet" type="text/css" href="~/Ases/styles/slick-theme.css"/>

<link href="~/Ases/styles/main.css" rel="stylesheet" type="text/css" />
<link href="~/Ases/styles/menu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Ases/js/jquery.js"></script>
<script type="text/javascript" src="~/Ases/js/jquery-latest.min.js"></script>
<script type="text/javascript" src="~/Ases/js/flaunt.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130206550-1"></script>


<style>
    #header {
        background:url(../Images/bg-header_Moi.png) no-repeat;
        /*top center;*/
	    height:130px;
	    position:relative;
	    top:0;
	    z-index:999;
    }
    #footerlogin {
          width:100%;
          /*height:20%;*/
          position:absolute;
          bottom: 0;
          /*background-image:url(../Images/HinhNen.png);*/
      }
    #body {
            background-image: url(../Images/HinhNen.png);
            background-repeat: no-repeat;
            /*background-position: right top;*/
            background-attachment: fixed;
           }
    input[type=text] {
          width: 230px;
          padding: 12px 20px;
          margin: 8px 20px;
          box-sizing: border-box;
          border: 2px solid #58257b;
          border-radius: 4px;
        }

    input[type=text]:focus {
    border: 3px solid #58257b;
    }

    select {
          width: 230px;
          padding: 16px 20px;
          border: none;
          border-radius: 4px;
          background-color: #f1f1f1;
        }
    input[type=button] {
          background-color: blue;
          border: none;
          color: white;
          padding: 10px 24px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;
        }
</style>


</head>

<body class="body">

<header id="header">
	<div class="container">
		<div class="headertop">
			<div class="headerFlowus">
				<ul class="list-unstyled">
					<li></li>
                    <li></li>
					<li><a class="show_facebook" href="https://www.facebook.com/VsmVietson" target="_blank" title="Facebook Thép Việt"><i class="fa fa-facebook"></i></a></li>
					<li><a class="show_google" href="" target="_blank" title="Youtube VietSteel"><i class="fa fa-google-plus"></i></a></li>                                
					<li><a class="show_youtube" href="https://www.youtube.com/channel/UC_n7V8NDRtO75pSOUOMiQ8w?sub_confirmation=1" target="_blank" title="Youtube Thép Việt"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>

				
			
			<div class=" headertop-i headertop-r">
				<div class="hotline-s">Liên hệ: Phan Thanh Hy - Nhân viên IT, số điện thoại: 0348 873 328
				</div>
			</div>
			@*<div class="baogiaheader"><a type="button" data-toggle="modal" data-target="#Yeucaubaogiahea">Tài khoản: @Session["nvUser"]</a></div>*@
			<div class="icon-language">
                @if(@Session["nvUser"] == null)
                {
				    <a href="@Url.Action("LogOut","Login")">Đăng nhập</a>
				    
                }
                else
                {
                    <a href="">Tên đăng nhập</a>
				    <a href="">@Session["nvUser"]</a>
                }
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			@*<div class="col-md-2 logo"><a href=""><img src="~/Images/Logo.png" /></a></div>*@
            <div class="col-md-2 logo"><a href="https://vietsteel.com/"><img src="~/Images/logo-vietsteel-3.png" /></a></div>
            @*<div><img src="~/Images/logo-vietsteel-3.png" width="147px" height="78px"/></div>*@
			<div class="col-md-10">
				<div class="menuheader">
					<nav class="nav">
						<ul class="nav-list">
							<li class="nav-item"><a class="active" href="./" title="Trang chủ">Trang chủ</a></li>
							<li class="nav-item"><a  href="https://vietsteel.com/vi/about-us/" title="Giới thiệu">Giới thiệu</a></li>
							<li class="nav-item"><a  href="@Url.Action("Index","Home")" title="Gia công">Gia công</a></li>
							<li class="nav-item"><a  href="@Url.Action("Index","LichGiaCong")" title="Liên hệ">Lịch gia công</a></li>
							
						</ul>
					</nav>
				
				</div>
			</div>
			
			
		</div>
		
	</div>
	
</header>

    <div style="margin: 10px 5px;font:30px;color:blue;font-style:italic; width:100%; background-color:blue;color:white">Nhập thông tin gia công công chi tiết</div>
    @*<table style="border: 2px solid #58257b; width:90%;margin:4px 10px">
        <tr>
            <td>*@
    
                <table>
                    <tr style="width:4px">
                        <td><label for="MaCT" style="margin:8px 20px">Mã công trình</label></td>
                        <td><input type="text" id="MaCT" name="lname" value="CREH-JCAE-20044"></td>
                        <td><label for="TenCT" style="margin:8px 20px">Tên công trình</label></td>
                        <td><input type="text" id="TenCT" name="fname" value="Máy chấn vòm (Biên dạng 5 sóng)"></td>
                        <td><label for="SL" style="margin:8px 20px">Số lượng</label></td>
                        <td><input type="text" id="SL" name="fname" value="8"></td>
                    </tr>
                    <tr style="width:4px">
                        <td><label for="MaHM" style="margin:8px 20px">Mã hạng mục</label></td>
                        <td><input type="text" id="MaHM" name="fname" value="BC0000001.1T-00140-00045-00070"></td>
                        <td><label for="TenHm" style="margin:8px 20px">Tên hạng mục</label></td>
                        <td><input type="text" id="TenHm" name="fname" value="1.1T(140X45X70)"></td>
                        <td><label for="NgayHTDK" style="margin:8px 20px">Ngày hoàn thanh dự kiến</label></td>
                        <td><input type="text" id="NgayHTDK" name="fname" value="21-07-2020"></td>
                    </tr>
                    <tr style="width:4px">
                        <td><label for="NgayLap" style="margin:8px 20px">Ngày lập</label></td>
                        <td><input type="text" id="NgayLap" name="fname" value="20-07-2020"></td>
                        <td><label for="NguoiLap" style="margin:8px 20px">Người lập</label></td>
                        <td><input type="text" id="NguoiLap" name="fname" value="admin"></td>
                        <td><label for="SoGio" style="margin:8px 20px">Số giờ (*)</label></td>
                        <td><input type="text" id="SoGio" name="fname" value=""></td>
                    </tr>
                    <tr style="width:4px">
                        <td><label for="MaMayGC" style="margin:8px 20px">Máy gia công thực tế (*)</label></td>
                        <td style="text-align:center">
                            <select id="country" name="country">
                            <option value="TC009-HWA650">TC009-HWA650</option>
                            <option value="TCN03-MORI-D250">TCN03-MORI-D250</option>
                            <option value="TC03-MORI-D300">TC03-MORI-D300</option>
                            </select>
                        </td>
                        <td><label for="TenMayGC" style="margin:8px 20px">Tên gia công thực tế (*)</label></td>
                        <td><input type="text" id="TenMayGC" name="fname" value="Máy tiện cơ Howa Strong STL 650"></td>
                        <td></td>
                        <td style="text-align:center"><input id="btn" type="button" value="Lưu"/>
                            @*<script language="javascript">
                                var button = document.getElementById("btn");
                                button.onclick = function ()
                                {
                                    alert("Lưu thành công !!!");
                                }
                            </script>*@
                            
                            <br></td>
                        
                    </tr>
                </table>
            @*</td>
        </tr>
    </table>*@
    


<footer id="footerlogin">
	    <div class="footer-bg"></div>
	    <div class="container">
		   				
		    <div class="row">
			    <div class="col-xs-12 col-sm-3 col-md-6 footer-row">
				    <div class="footer-brief">
					    Công ty TNHH Máy Và Sản Phẩm Vietsteel được thành lập năm 1998. Chúng tôi là chuyên gia hàng đầu tại Việt Nam trong việc thiết kế, chế tạo, lắp đặt tất cả các loại máy cán, uốn, cắt, và đột dập, vv..
				    </div>
			    </div>
			
			    <div class="col-xs-12 col-sm-6 col-md-6 footer-row1">
					    <div class="footer-title">Quản lý gia công Thép Việt</div>
					    <div class="foo-info">
						    <p class="foo-address">Được viết bởi phòng IT</p>
					    </div>
			    </div>
		    </div>
	    </div>
    </footer>
<script type="text/javascript" src="/Ases/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/Ases/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/Ases/js/magiczoomplus.js" type="text/javascript"></script>
<script defer src="/Ases/js/owl.carousel.js"></script>
<script src="/Ases/js/stickyNav.js"></script>
<script src="/Ases/js/jquery.fancybox.min.js"></script>
<script src="/Ases/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Ases/js/validate.js"></script>
<script type="text/javascript" src="/Ases/js/jquery.timeago.js"></script>
<script type="text/javascript" src="/Ases/js/jquery.timeago.vi.js"></script>

<div class="footercall" style="z-index:9999;position: fixed; bottom: 0; width: 100%; left: 0;">
	<table style="width:100%;text-align:center;margin:auto;background: #ff0000; border: 3px solid #e8e8e8;" cellpadding="0" cellspacing="0">
       <tbody><tr>
        <td><a class="link_title blink_me" href="tel:0922668868"><img src="/images/goidien.png" alt="Điện thoại"/> 0922.66.88.68</a></td>
		<td><a class="link_title blink_me" href="tel:02839307638"><img src="/images/goidien.png" alt="Điện thoại"/> 028.3930.7638</a></td>
    <td><a class="link_title" href="https://goo.gl/maps/u3PKBkZjhnM2" target="_blank"><img src="/images/chiduong.png" alt="Maps google"/>Hướng dẫn</a></td>
      </tr>
  </tbody></table>
</div>
</body>
</html>